<!-- <nav class="level">
  <div class="level-item has-text-centered">
    <button class="link is-info" >Create Game</button>
  </div>
  <div class="level-item has-text-centered">
    <button class="link is-info" >Join Game</button>
  </div>
  <p class="title level-item has-text-centered">Inno RPG</p>
  <p class="level-item has-text-centered">
    <a class="link is-info" >Scoreboard</a>
  </p>
</nav> -->

<a class="button is-large is-info" (click)="onCreateNewBoard()">Create Game</a>
<br>
<a class="button is-large is-info" (click)="onJoinExistingGame()">Join Game</a>
<br>
<a class="button is-large is-info" (click)="onClickScoreboard()">Scoreboard</a>